1. 
Each of the following variable assignments has something wrong. Identify the error and correct it.

In [1]:
number_1 = 5
print (number_1)

5

In [2]:
my_name = "Ada"
print (my_name)

Ada

In [3]:
Digit = "10"
print (Digit)

10

In [4]:
total_sum = "300"
print (total_sum)

300

In [5]:
age = "25"
print (age)

25

2. 

A young entrepreneur named Zara sells handmade beaded bracelets.

- She sells each bracelet for ₦750

- She made 20 bracelets this week

- She spent ₦3,000 on materials

- She also spent ₦1,500 on delivery and ₦500 on packaging

- She gave a ₦250 discount to one customer

- She plans to save 20% of her profit

Tasks:

a. Create variables to represent all the details above. Use descriptive variable names.
b. Calculate:

- Zara’s total income

- Zara’s total expenses

- Her actual profit after the discount

- How much she will save from her profit

In [6]:
# Selling Price of a bracelet (N)
Selling_price = 750

In [7]:
# Number of Bracelets made this week 
Materials_Made = 20

In [8]:
# Cost of Materials (N)
Material_cost = 3000

In [9]:
# Cost of Delivery (N)
Delivery_fees = 1500

In [10]:
# Cost of packaging (500)
Packaging_cost = 500

In [11]:
# Discount given to one customer (N)
Discount_given = 250

In [12]:

# Target Savings of 20% of her profit
Savings_percentage = 0.2

In [13]:
#Zara’s total income
print (Selling_price * Materials_Made)

15000

In [25]:
Total_Income = 15000
print ("Total_Income : #", Total_Income)

Total_Income : # 15000

In [15]:
# Zara’s total expenses
print (Material_cost + Delivery_fees + Packaging_cost )

5000

In [26]:
Total_Expenses = 5000
print ("Total_Expenses : #", Total_Expenses)

Total_Expenses : # 5000

In [18]:
# Her actual profit after the discount
print ((Total_Income - Total_Expenses) - Discount_given )

9750

In [27]:
Actual_profit = 9750
print ("Actual_profit : #", Actual_profit)

Actual_profit : # 9750

In [20]:
# How much she will save from her profit
print (Actual_profit * 0.2)

1950.0

In [28]:
Saved_Amount = 1950
print ("Saved_Amount : #", Saved_Amount)

Saved_Amount : # 1950

3. Each of the following lines has a problem related to how strings work in Python. Identify and fix the problem.

In [34]:
greeting = "Hello, my name is John and I’m learning Python."
print (greeting)

Hello, my name is John and I’m learning Python.

In [32]:
quote = 'She said, "Python is easy to learn." '
print (quote)

She said, "Python is easy to learn."

In [35]:
name = 'Musa'
print("Hello " + name)

Hello Musa

In [38]:
story = "Today was a good day, I learned about variables."
print (story)

Today was a good day, I learned about variables.

In [40]:
title = "introduction to python"
print(title.title())
# Expected output: Introduction To Python

Introduction To Python

4. Section D: Lists
Create a list of five items Zara might need to buy to continue her bracelet business (e.g., beads, strings, glue...).

Write Python code to:
a. Print the first and last item in the list
b. Add a new item to the list
c. Remove one item from the list
d. Print the number of items in the list

In [42]:
# Zara's new list
Zara_list = ["Beads", "Strings", "Glue", "Scissors"]
print (Zara_list)

['Beads', 'Strings', 'Glue', 'Scissors']

In [45]:
# a. Print the first and last item in the list
print ("First_item:", Zara_list [0] )

First_item: Beads

In [46]:
# a. Print the first and last item in the list
print ("Last_item:", Zara_list [-1] )

Last_item: Scissors

In [48]:
#  b. Add a new item to the
Zara_list.append ("Needle")
print (Zara_list)

['Beads', 'Strings', 'Glue', 'Scissors', 'Needle']

In [50]:
# c. Remove one item from the list
Zara_list.remove ("Strings")
print (Zara_list)

['Beads', 'Glue', 'Scissors', 'Needle']

In [51]:
# d. Print the number of items in the list
len (Zara_list)

4